<!doctype html>
<html>
  <head>
    <title>RCB</title>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main11.css') }}">      
    <script src="https://kit.fontawesome.com/63ff17dcad.js" crossorigin="anonymous"></script>
  </head>
   <body>
   <div class="squad">
    <h1>SQUAD</h1>
    <div style="font-family: 'Varela Round', sans-serif;" class="container">

  <div class="card">
      <div class="face face1">
          <div class="content">
            <img src="{{url_for('static', filename = 'img/p1.png')}}">
          </div>
        </div>
        <div class="face face2">
            <h3>WASHINGTON SUNDAR</h3>
      <div class="more">
        <h6>ALL-ROUNDER</h6>
          </div>
        </div>
  </div>
  
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="{{ url_for('static', filename = 'img/p2.png')}}">
      </div>
    </div>
    <div class="face face2">
      <h3>MOHAMMED SIRAJ</h3>
    <div class="more">
      <h6>BOWLER</h6>
    </div>
    </div>
  </div>
  
  <div class="card">    
        <div class="face face1">
          <div class="content">
            <img src="{{ url_for('static', filename = 'img/p3.png')}}">
          </div>
        </div>
        <div class="face face2">
          <h3>MOEEN ALI</h3>            
      <div class="more">
        <h6>ALL-ROUNDER   <i class="fas fa-plane"></i></h6>
      </div>
        </div>
        
     </div>
    </div>
    <div style="font-family: 'Varela Round', sans-serif;" class="container">

      <div class="card">
          <div class="face face1">
              <div class="content">
                <img src="{{ url_for('static', filename = 'img/p4.png')}}">
              </div>
            </div>
            <div class="face face2">
                <h3>AB DE VILLIERS</h3>
          <div class="more">
            <h6>WICKET KEEPER <i class="fas fa-plane"></i></h6>
          </div>
            </div>
      </div>
      
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="{{ url_for('static', filename = 'img/p5.png')}}">
          </div>
        </div>
            <div class="face face2">
              <h3>ISURU UDANA</h3>
          <div class="more">
            <h6>BOWLER    <i class="fas fa-plane"></i></h6>
          </div>
            </div>
      </div>
      
      <div class="card">    
            <div class="face face1">
              <div class="content">
                <img src="{{ url_for('static', filename = 'img/p6.png')}}">
              </div>
            </div>
            <div class="face face2">
              <h3>SHAHBAZ AHMED</h3>
          <div class="more">
            <h6>ALL-ROUNDER</h6>
          </div>
            </div>        
        </div>
    </div>
    <div style="font-family: 'Varela Round', sans-serif;" class="container">

      <div class="card">
          <div class="face face1">
              <div class="content">
                <img src="{{ url_for('static', filename = 'img/p7.png')}}">
              </div>
            </div>
            <div class="face face2">
                <h3>AARON FINCH</h3>
          <div class="more">
            <h6>BATSMAN <i class="fas fa-plane"></i></h6>
          </div>
            </div>
      </div>
      
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="{{ url_for('static', filename = 'img/p8.png')}}">
          </div>
        </div>
            <div class="face face2">
              <h3>JOSHUA PHILIPPE</h3>
          <div class="more">
            <h6>WICKET KEEPER   <i class="fas fa-plane"></i></h6>
          </div>
            </div>
      </div>
      
      <div class="card">    
            <div class="face face1">
              <div class="content">
                <img src="{{ url_for('static', filename = 'img/p9.png')}}">
              </div>
            </div>
            <div class="face face2">
              <h3>DALE STEYN</h3>
          <div class="more">    
          <h6>BOWLER    <i class="fas fa-plane"></i></h6>
          </div>
            </div>        
        </div>
    </div>
    <div style="font-family: 'Varela Round', sans-serif;" class="container">

      <div class="card">
          <div class="face face1">
              <div class="content">
                <img src="{{ url_for('static', filename = 'img/p10.png')}}">
              </div>
            </div>
            <div class="face face2">
                <h3>DEVDUTT PADIKKAL</h3>
          <div class="more">
            <h6>BATSMAN</h6>
          </div>
            </div>
      </div>
      
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="{{ url_for('static', filename = 'img/p11.png')}}">
          </div>
        </div>
            <div class="face face2">
              <h3>GURKEERAT SINGH</h3>
          <div class="more">
            <h6>ALL-ROUNDER</h6>
          </div>
            </div>
      </div>
      
      <div class="card">    
            <div class="face face1">
              <div class="content">
                <img src="{{ url_for('static', filename = 'img/p12.png')}}">
              </div>
            </div>
            <div class="face face2">
              <h3>KANE RICHARDSON</h3>
          <div class="more">  
            <h6>BOWLER    <i class="fas fa-plane"></i></h6>
          </div>
            </div>        
        </div>
    </div>

    <div style="font-family: 'Varela Round', sans-serif;" class="container">

      <div class="card">
          <div class="face face1">
              <div class="content">
                <img src="{{ url_for('static', filename = 'img/p13.png')}}">
              </div>
            </div>
            <div class="face face2">
                <h3>DEVDUTT PADIKKAL</h3>
          <div class="more">
            <h6>BATSMAN</h6>
          </div>
            </div>
      </div>
      
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="{{ url_for('static', filename = 'img/p15.png')}}">
          </div>
        </div>
            <div class="face face2">
              <h3>PAWAN NEGI</h3>
          <div class="more">
            <h6>ALL-ROUNDER</h6>
          </div>
            </div>
      </div>
      
      <div class="card">    
            <div class="face face1">
              <div class="content">
                <img src="{{ url_for('static', filename = 'img/p14.png')}}">
              </div>
            </div>
            <div class="face face2">
              <h3>CHRIS MORRIS</h3>
          <div class="more">  
            <h6>ALL-ROUNDER     <i class="fas fa-plane"></i></h6>
          </div>
            </div>        
        </div>
  </div>
  <div style="font-family: 'Varela Round', sans-serif;" class="container">

      <div class="card">
          <div class="face face1">
              <div class="content">
                <img src="{{ url_for('static', filename = 'img/p16.png')}}">
              </div>
            </div>
            <div class="face face2">
                <h3>PARTHIV PATEL</h3>
          <div class="more">
            <h6>WICKET KEEPER</h6>
          </div>
            </div>
      </div>
      
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="{{ url_for('static', filename = 'img/p21.png')}}">
          </div>
        </div>
            <div class="face face2">
              <h3>VIRAT KOHLI</h3>
          <div class="more">
            <h6>BATSMAN   <i class="fas fa-copyright"></i></h6>
          </div>
            </div>
      </div>
      
      <div class="card">    
            <div class="face face1">
              <div class="content">
                <img src="{{ url_for('static', filename = 'img/p17.png')}}">
              </div>
            </div>
            <div class="face face2">
              <h3>YUZVENDRA CHAHAL</h3>
          <div class="more">  
            <h6>BOWLER</h6>
          </div>
            </div>        
        </div>
  </div>
  <div style="font-family: 'Varela Round', sans-serif;" class="container">

      <div class="card">
          <div class="face face1">
              <div class="content">
                <img src="{{ url_for('static', filename = 'img/p18.png')}}">
              </div>
            </div>
            <div class="face face2">
                <h3>SHIVAM DUBE</h3>
          <div class="more">
            <h6>ALL-ROUNDER</h6>
          </div>
            </div>
      </div>
      
      <div class="card">
        <div class="face face1">
          <div class="content">
            <img src="{{ url_for('static', filename = 'img/p19.png')}}">
          </div>
        </div>
            <div class="face face2">
              <h3>PAVAN DESHPANDE</h3>
          <div class="more">
            <h6>ALL-ROUNDER</h6>
          </div>
            </div>
      </div>
      
      <div class="card">    
            <div class="face face1">
              <div class="content">
                <img src="{{ url_for('static', filename = 'img/p20.png')}}">
              </div>
            </div>
            <div class="face face2">
              <h3>UMESH YADAV</h3>
          <div class="more">  
            <h6>BOWLER</h6>
          </div>
            </div>        
        </div>
  </div>

  </div>
  <ul class="nav">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="{{ url_for('login') }}">Login</a></li>
    <li><a class="active" href="{{ url_for('team') }}">Team</a></li>
    <li><a class="nav-link" href="{{ url_for('profile') }}">Profile</a></li>
  </ul>
  <div class="logo">
    <img src="{{ url_for('static', filename = 'img/logo.png')}}">
  </div>
  <footer>
    <div>
      <img src="{{ url_for('static', filename = 'img/logo.png')}}">
    </div>
    <ul>
      <li><a href="{{ url_for('index') }}">HOME</a></li>
      <li><a href="#">NEWS</a></li>
      <li><a href="#">RCB TV</a></li>
      <li><a class="active" href="#">PHOTOS</a></li>
    </ul>
    <ul>
      <li><a href="main.html">TICKETS</a></li>
      <li><a href="#">FIXTURES</a></li>
      <li><a href="#">TEAM</a></li>
      <li><a class="active" href="#">SHOP</a></li>
    </ul>
    <ul>
      <li><a href="main.html">ABOUT US</a></li>
      <li><a href="https://www.royalchallengers.com/privacy-policy">PRIVACY POLICY</a></li>
      <li><a href="https://www.royalchallengers.com/terms-conditions">TERMS & CONDITIONS</a></li>
      <li><a class="active" href="#">CONTACT US</a></li>
    </ul>
    <div class="connect">
      <ul class="sci">
        <li><a href="https://www.facebook.com/RoyalChallengersBangalore/"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/rcbtweets?lang=en"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/royalchallengersbangalore/?hl=en"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCCq1xDJMBRF61kiOgU90_kw"><i class="fab fa-youtube"></i></a></li>
      </ul>
      <div class="app">
        <p>CONNECT WITH RCB PLAYERS ON THE RCB APP. DOWNLOAD NOW</p>
        <a href="https://play.google.com/store/apps/details?id=com.interactech.rcb&hl=en_IN"><i class="fab fa-google-play"></i></a>
        <a href="https://apps.apple.com/in/app/rcb-official-app/id516455943"><i class="fab fa-apple"></i></a>
      </div>
      
    </div>












  </footer>
    
  </body>
  </html>