<!doctype html>
<html>
   <head>
      <title>RCB</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <style type="text/css">
     .notification.active{
      display: none;
     }
   </style>
      </head>
      <body>
	    <script>
	      function toggleMenu(){
	      let navigatio = document.querySelector('.notification');
	      navigatio.classList.toggle('active');
	    }
	    </script>
	      {% with messages = get_flashed_messages() %}
	         {% if messages %}
	            <ul>
	               {% for message in messages %}
	               <div class="notification" aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
	                  <div style="position: absolute; top: 0; right: 0; border: 1px solid #aaa;">
	                    <div class="toast-header" style="background: #5AEC00">
	                      <strong class="mr-auto">RCB</strong>
	                      <small>now</small>
	                      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" onclick="toggleMenu()">
	                        <span aria-hidden="true">&times;</span>
	                      </button>
	                    </div>
	                    <div class="toast-body">
	                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-check-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	                        <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
	                      </svg>
	                      {{message}}
	                    </div>
	                  </div>
	                </div>
	               {% endfor %}
	            </ul>
	         {% endif %}
	      {% endwith %}
			
	      <nav class="navbar navbar-light bg-light">
	        <a class="navbar-brand" href="#">
	          <img src="C:\Users\Admin\Desktop\pranava\python\Flask\test 2\logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
	          Royal Challengers Bangalore
	        </a>
	      </nav>
	   
	         <nav class="navbar navbar-dark bg-dark" style="border-bottom: 2px solid #faa;">
	           <!-- Navbar content -->

	           <a class="navbar-brand" style="border-bottom: 2px solid red;" href="#">Home</a>
	           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	             <span class="navbar-toggler-icon"></span>
	           </button>

	           <div class="collapse navbar-collapse" id="navbarSupportedContent">
	             <ul class="navbar-nav mr-auto">
	               <li class="nav-item active">
	                 <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	               </li>
	               <li class="nav-item">
	                 <a class="nav-link" href="{{ url_for('login') }}">Login</a>
	               </li>
	               <li class="nav-item">
	                 <a class="nav-link" href="#">Logout</a>
	               </li>               
	               <li class="nav-item">
	                 <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	               </li>
	             </ul>
	             <form class="form-inline my-2 my-lg-0">
	               <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	             </form>
	           </div>
	   
	         </nav>
	         <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
			  <div class="card-header">
			  	<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				  <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
				  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
				  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
				</svg>
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">{{ user }}</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>

	        </body>
	        </html>